   <div class="container">
        <div class="wrapper animated bounceInLeft">
            <div class="company-info">
                <h3>Información de Empresa</h3>
                <ul>
                    <li><i class="fa fa-road"></i> 45 Revolution st</li>
                    <li><i class="fa fa-phone"></i> 8-906-424-22-11</li>
                    <li><i class="fa fa-envelope"></i> zibinsky@mail.ru</li>
                </ul>
            </div>

            <div class="contact">
                <form>
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="name">
                    </p>
                    <p>
                        <label>Empresa</label>
                        <input type="text" name="company">
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Teléfono</label>
                        <input type="text" name="phone">
                    </p>
                    <p class="full">
                        <label>Mensaje</label>
                        <textarea name="message" rows="5"></textarea>
                    </p>
                    <p class="full">
                        <button>Submit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>