/*:host hace referencia al elemento que encierra a un componente*/
/*para este caso :host haria referencia a la etiqueta <app-product><app-product>*/
// :host {
//     margin: 8px;
//     border: 1px solid #cccccc;
//     border-radius: 4px;
//     display: flexbox;
//     transition: all 0.4s ease-in-out;
// }

// :host:hover{
//     box-shadow: 0px 0px 4px 0px #b3b3b3;
// }

.crop-image {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}